body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f5f9;
  color: #1e293b;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0f172a;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links .active {
  border-bottom: 2px solid #38bdf8;
}

/* HERO */
.hero {
  padding: 70px;
  text-align: center;
  background: linear-gradient(135deg, #2563eb, #38bdf8);
  color: white;
}

/* EVENTS */
.events-section {
  padding: 50px;
}

.events-grid {
  display: flex;
  gap: 25px;
}

.event-card {
  background: white;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FEEDBACK */
.feedback-section {
  background: white;
  padding: 40px;
  margin: 40px;
  border-radius: 10px;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

/* PAGES */
.page-section {
  padding: 50px;
  background: white;
  margin: 40px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #0f172a;
  color: white;
}
